<div id="backend-add"
    data-theme="b"
    data-role="panel"
    data-position="right"
    data-display="overlay"
    data-swipe-close="false"
    class="side-panel ui-panel
        ui-panel-position-right ui-panel-display-overlay ui-body-b
        ui-panel-animate ui-panel-closed">
<div class="ui-panel-inner">

    <div class="ui-header ui-bar-inherit">
        <h1 class="ui-title">Add backend</h1>
        <a class="ui-btn-right ui-link ui-btn ui-btn-b ui-icon-info
            ui-btn-icon-notext ui-shadow ui-corner-all" target="_blank"
            href="https://mistio.zendesk.com/hc/en-us"></a>
    </div>

    <div class="ui-content ui-body-b" role="main">

        <!--

            PROVIDER SELECTION

        -->

        <label>1. Provider:</label>

        <div id="backend-add-provider"
            class="mist-select"
            data-theme="a"
            data-iconpos="right"
            data-role="collapsible"
            data-expanded-icon="carat-u"
            data-collapsed-icon="carat-d">

            <h2>{{Mist.backendAddController.newBackendProvider.title}}</h2>
            <ul class="select-listmenu" data-role="listview" data-theme="a">
                {{#each Mist.backendsController.providerList}}
                    <li data-icon="false">
                        <a {{action "selectProvider" this target="view"}}>
                            {{this.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>

        <!--

            AMAZON EC2

        -->

        <div id="backend-add-ec2" class="provider-form">
            <label for="backend-add-ec2-api-key">2. API Key:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-ec2-api-key"
                    valueBinding="Mist.backendAddController.providers.ec2.apiKey"}}
            <label for="backend-add-ec2-api-secret">3. API Secret:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-ec2-api-secret"
                    valueBinding="Mist.backendAddController.providers.ec2.apiSecret"}}
        </div>

        <!--

            LINODE

        -->

        <div id="backend-add-linode" class="provider-form">
            <label for="backend-add-linode-username">2. Username:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-linode-username"
                    valueBinding="Mist.backendAddController.providers.linode.username"}}
            <label for="backend-add-linode-api-key">3. API Key:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-linode-api-key"
                    valueBinding="Mist.backendAddController.providers.linode.apiKey"}}
        </div>

        <!--

            SOFTLAYER

        -->

        <div id="backend-add-softlayer" class="provider-form">
            <label for="backend-add-softlayer-api-key">2. API Key:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-softlayer-api-key"
                    valueBinding="Mist.backendAddController.providers.softlayer.apiKey"}}
            <label for="backend-add-softlayer-api-secret">3. API Secret:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-softlayer-api-secret"
                    valueBinding="Mist.backendAddController.providers.softlayer.apiSecret"}}
        </div>

        <!--

            RACKSPACE

        -->

        <div id="backend-add-rackspace" class="provider-form">
            <label for="backend-add-rackspace-username">2. Username:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-rackspace-username"
                    valueBinding="Mist.backendAddController.providers.rackspace.username"}}
            <label for="backend-add-rackspace-api-key">3. API Key:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-rackspace-api-key"
                    valueBinding="Mist.backendAddController.providers.rackspace.apiKey"}}
        </div>

        <!--

            NEPHOSCALE

        -->

        <div id="backend-add-nephoscale" class="provider-form">
            <label for="backend-add-nephoscale-username">2. Username:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-nephoscale-username"
                    valueBinding="Mist.backendAddController.providers.nephoscale.username"}}
            <label for="backend-add-nephoscale-password">3. Password:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-nephoscale-password"
                    valueBinding="Mist.backendAddController.providers.nephoscale.password"}}
        </div>

        <!--

            DIGITALOCEAN

        -->

        <div id="backend-add-digitalocean" class="provider-form">
            <label for="backend-add-digitalocean-client-id">2. Client Id:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-digitalocean-client-id"
                    valueBinding="Mist.backendAddController.providers.digitalocean.clientId"}}
            <label for="backend-add-digitalocean-api-key">3. API Key:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-digitalocean-api-key"
                    valueBinding="Mist.backendAddController.providers.digitalocean.apiKey"}}
        </div>

        <!--

            GOOGLE COMPUTE ENGINE

        -->

        <div id="backend-add-gce" class="provider-form">
            <label for="backend-add-gce-email">2. Email address:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-gce-email"
                    valueBinding="Mist.backendAddController.providers.gce.email"}}
            <label>3. Private key:</label>
            <a id="backend-add-gce-key" class="ui-btn ui-btn-a ui-corner-all"
                {{action "privateKeyClicked" target="view"}}>
                    Add key
            </a>
            <label for="backend-add-gce-projectId">4. Project ID:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-gce-projectId"
                    valueBinding="Mist.backendAddController.providers.gce.projectId"}}
        </div>

        <!--

            DOCKER

        -->

        <div id="backend-add-docker" class="provider-form">
            <label for="backend-add-docker-host">2. Host:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-docker-host"
                   valueBinding="Mist.backendAddController.providers.docker.host"}}
            <label for="backend-add-docker-port">3. Port:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-docker-port"
                   valueBinding="Mist.backendAddController.providers.docker.port"}}
            <label for="backend-add-docker-user">4. BasicAuth User:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-docker-user"
                   valueBinding="Mist.backendAddController.providers.docker.user"}}
            <label for="backend-add-docker-password">5. BasicAuth Password:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-docker-password"
                   valueBinding="Mist.backendAddController.providers.docker.password"}}
        </div>

        <!--

            OPENSTACK

        -->

        <div id="backend-add-openstack" class="provider-form">
            <label for="backend-add-openstack-username">2. Username:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-openstack-username"
                    valueBinding="Mist.backendAddController.providers.openstack.username"}}
            <label for="backend-add-openstack-password">3. Password:</label>
            {{view Mist.TextField data-theme="a"
                    type="password"
                    id="backend-add-openstack-password"
                    valueBinding="Mist.backendAddController.providers.openstack.password"}}
            <label for="backend-add-openstack-auth-url">4. Auth URL:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-openstack-auth-url"
                    valueBinding="Mist.backendAddController.providers.openstack.authURL"}}
            <label for="backend-add-openstack-tenant-name">5. Tenant Name:</label>
            {{view Mist.TextField data-theme="a"
                    id="backend-add-openstack-tenant-name"
                    valueBinding="Mist.backendAddController.providers.openstack.tenantName"}}
            <select id="backend-add-openstack-advanced-toggle"
                data-role="slider" data-theme="a"
                {{action "advancedToggled" target="view" on="change"}}>
                    <option value="0">Basic settings</option>
                    <option value="1">Advanced settings</option>
            </select>
            <div id="backend-add-openstack-advanced">
                <label for="backend-add-openstack-region">6. Region:</label>
                {{view Mist.TextField data-theme="a"
                        id="backend-add-openstack-region"
                        valueBinding="Mist.backendAddController.providers.openstack.region"}}
                <label for="backend-add-openstack-compute-endpoint">7. Compute Endpoint:</label>
                {{view Mist.TextField data-theme="a"
                        id="backend-add-openstack-compute-endpoint"
                        valueBinding="Mist.backendAddController.providers.openstack.computeEndpoint"}}
            </div>
        </div>

        <!--

            BARE METAL SERVER

        -->

        <div id="backend-add-bare_metal" class="provider-form">
            <label for="backend-add-bare_metal-host">2. Hostname:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-bare_metal-host"
                   valueBinding="Mist.backendAddController.providers.bare_metal.host"}}
            <label for="backend-add-bare_metal-user">3. User:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-bare_metal-user"
                   valueBinding="Mist.backendAddController.providers.bare_metal.user"}}
            <label for="backend-add-bare_metal-port">4. Port:</label>
            {{view Mist.TextField data-theme="a"
                   id="backend-add-bare_metal-port"
                   valueBinding="Mist.backendAddController.providers.bare_metal.port"}}
            <label>5. SSH Key:</label>
            <div id="backend-add-bare_metal-key"
                class="mist-select"
                data-theme="a"
                data-iconpos="right"
                data-role="collapsible"
                data-expanded-icon="carat-u"
                data-collapsed-icon="carat-d">

                <h2>{{Mist.backendAddController.providers.bare_metal.key.id}}</h2>
                <ul data-role="listview">
                    {{#each Mist.keysController.content}}
                        <li data-icon="false" data-theme="a">
                            <a {{action "selectKey" this target="view"}}>
                                {{this.id}}
                            </a>
                        </li>
                    {{/each}}
                    <li data-icon="false" data-theme="d">
                        <a {{action "addKeyClicked" target="view"}}>Add Key</a>
                    </li>
                </ul>
            </div>
        </div>

        {{#if Mist.backendsController.addingBackend}}
            <div class="ajax-loader"></div>
        {{/if}}

        <div class="ok-cancel" data-role="controlgroup" data-type="horizontal">
            <a class="ui-btn ui-btn-a ui-shadow ui-corner-all ui-first-child"
                {{action "backClicked" target="view"}}>
                    Back
            </a>
            <a id="backend-add-ok"
                class="ui-btn ui-btn-d ui-shadow ui-corner-all ui-last-child"
                {{action "addClicked" target="view"}}>
                    Add
            </a>
        </div>
    </div>
</div>
</div>

{{view Mist.keyAddView}}

{{view Mist.fileUploadView}}
