<a id="me-btn"
   class="ui-btn-right"
   data-role="button"
   {{action "meClicked" target="view"}}>
    {{#if view.gravatarURL}}
        <img class="gravatar-image" {{bind-attr src="view.gravatarURL"}}/>
    {{else}}
        <img class="gravatar-image" src="resources/images/user.png" />

    {{/if}}
    &nbsp;</a>

<div id="user-menu-popup" data-role="popup" data-position-to="#me-btn" data-theme="b" data-overlay-theme="b" data-transition="flip">

    <div data-role="content">

        <div>{{EMAIL}}</div>

        {{#if Mist.isCordova}}
        <a href="javascript:void(0)" onClick="window.open('https://mistio.zendesk.com/access/login','_system')"
           data-role="button"
           data-mini="true">Support</a>
        {{else}}
        <a href="https://mistio.zendesk.com/access/login"
           target="_blank"
           data-role="button"
           data-mini="true">Support</a>
        {{/if}}

        {{#if Mist.authenticated}}

          {{#if Mist.isCordova}}
            <a data-role="button" data-mini="true"
               {{bind-attr vhref="view.accountUrl"}}
               {{bind-attr target="view.isNotCore"}}
               onClick="window.open($(this).attr('vhref'),'_system')">Account</a>
          {{else}}
            <a data-role="button" data-mini="true"
               {{bind-attr href="view.accountUrl"}}
               {{bind-attr target="view.isNotCore"}}>Account</a>
          {{/if}}

            {{#if Mist.isCore}}
                <button data-mini="true" {{action "logoutClicked" target="view"}}>Logout</a>
            {{/if}}
        {{else}}
            {{#unless Mist.isCore}}
                <button data-mini="true" {{action "loginClicked" target="view"}}>Login</a>
            {{/unless}}
        {{/if}}

    </div>

</div>

{{view Mist.loginView}}